.new-task-form-container {
    //width: 1140px;
    width: 100%;
    max-width: 100%;
    //margin: 0 auto;
    position: relative;
    z-index: map-get($z-index, Secondfloor);
    @include cf();
    &.half-box {
        //width: 50%;
        width: 100%;
        margin: 0 auto;
        @include mqrange(660px, 5000px) {
            width: 50%;
        }
    }
    .inner {
        width: 100%;
        @include cf();
        h3 {
            padding: 0 0 25px;
        }
        form {
            width: 100%;
            .field {
                position: relative;
                width: 100%;
                margin: 0 0 25px;
                .input,
                .textarea {
                    width: 100%;
                    border: 0;
                    border-bottom: solid 1px rgba(#ffffff, 0.05);
                    background-color: rgba(#ffffff, 0.05);
                    padding: 10px 8px 8px;
                    font-family: 'Inconsolata', monospace;
                    font-weight: 400;
                    font-size: 14px;
                    color: #ffffff;
                    outline: none;
                    overflow: visible;
                    &+.label {
                        position: absolute;
                        top: 8px;
                        left: 10px;
                    }
                    &:focus+.label {
                        -webkit-transform: translateY(-200%);
                        transform: translateY(-200%);
                        font-size: 12px;
                    }
                }
                .form-helper {
                    display: block;
                    width: 100%;
                    padding: 10px 3px;
                    font-style: italic;
                    color: #E64A19;
                    &:empty {
                        padding: 0;
                    }
                }
                .textarea {
                    height: 130px;
                    resize: none;
                }
                .label {
                    transition: all .2s ease-in-out;
                    cursor: text;
                }
                &.active {
                    .input,
                    .textarea {
                        &+.label {
                            -webkit-transform: translateY(-200%);
                            transform: translateY(-200%);
                            font-size: 12px;
                        }
                    }
                }
            }
            .button-submit {
                width: 100%;
                height: 50px;
                text-align: center;
                font-family: 'Inconsolata', monospace;
                font-weight: 700;
                font-size: 16px;
                color: #cccccc;
                background-color: rgba(#000000, 0.2);
                border: solid 2px #333333;
                outline: none;
                cursor: pointer;
                transition: all .1s ease-in-out;
                &:active {
                    //border: solid 4px #333333;
                    box-shadow: 0px -2px 0px 0px #333333;
                    transform: translatey(2px);
                }
            }
        }
    }
}
