/*

    ### MEDIA QUERIES BREAKPOINTS

*/
//
// desktop wide = dw
$desktop-wide: 1366px;
//
//desktop normal = dn 
$desktop-normal: 1260px;
//
//tablet landscape = tw
$tablet-wide: 990px;
//
//tablet portrait = tn
$tablet-normal: 768px;
//
//smartphone landscape = sw 
$smartphone-wide: 650px;
//
//smartphone portrait = sn
$smartphone-normal: 480px;