@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
//some styles reference  http://demos.creative-tim.com/now-ui-kit/index.html#

@import "_variables";
@import "_mixin";
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    padding: 0;
    margin: 0;
    background-color: #1F201B;
    color: #eaeaea;
}

.text-initial {
    position: relative;
    width: 100%;
    z-index: map-get($z-index, Secondfloor);
    padding: 25px;
    h1 {
        font-size: 18px;
        font-weight: 700;
    }
}

@import "_app-base.scss";
@import "_new-task-form.scss";
@import "_page-background.scss";
@import "_tasks-collumn.scss";